*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(232, 232, 232);

}
#nav-Container{
    height: 65px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 17%;
    height: inherit;
    display: flex;
    justify-content: end;
}
.search{
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search > input{
    width: 90%;
    height: 35px;
    font-size: 16px;
    border: none;
    outline: none;
    padding-left: 5px;
    border-radius: 0 8px 8px 0;
    background-color: rgb(232, 231, 231);
}
.search > i{
    background-color: rgb(232, 231, 231);
    height: 35px;
    width: 30px;
     display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px ;

}
.icons{
    height: inherit;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icons > .login{
    display: flex;
    gap: 5px;
}
.login > i:last-child{
    font-size: 10px;
}
.login > p{
    font-family: sans-serif;
}
.d{
    width: 95%;
    margin: auto;
}
.img-1{
    width: 100%;
    margin-top: 15px;
}
header{
    height: 120px;
    width: 95%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around   ;
}
header > div >img{
    height: 60px;
    width: 60px;
}
header > div > p{
    font-family: sans-serif;
    font-size: 12px;
}

.mobiles{
    height: 50px;
}
.topDeals{
    height: 420px;
    width: 95%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}
.republic{
    width: 100%;
}
.topDeals > div {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.topDeals > div > h1{
    font-family: sans-serif;
    font-size:22px;
    padding-left: 10px;
}
.topDeals > div > article{
    display: flex;
    justify-content: space-evenly;
}
.topDeals > div > article > main{
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.topDeals > div > article > main > div > p{
  font-family: sans-serif;
  font-size: 10px;
}
.topDeals > div > article > main > div > p:last-child{
    font-weight: bold;
}
.min{
    font-size:100px;
    color: green;
}

.bot{
    font-size: 10px;
    /* margin-left:100px auto; */
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 40px;
    
}